html, body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #eeee;
  font-size: 62.5%;
  font-size: 1em;
}

p {
	margin: 10px 0;
	font-weight: bold;
}

p:hover{
  margin-left: 20px;
}

section {
	margin-bottom: 10px;
  border: 1px;
  border: medium solid green;
  border-radius: 10px;
}

section:hover{
  background-color: yellow;
}

#exitMessage{
  border-color:white;
  background-color: blue;
  display: none;
  font-size: 100px;
  border-radius: 40px;
  text-align: center;
  width: 800px;
  margin: auto;
}

ul {
	list-style: none;
}
